<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - Metz Numeric School</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Metz Numeric School</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/upload"> Upload</a>
            <a href="/list"> Les documents</a>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        {% block content %}
        <section id="welcome">
            <h2>Bienvenue sur FAQIA – FAQ Assistée par l'IA</h2>
            <p>
                FAQIA est une plateforme web intelligente qui propose une Foire Aux Questions générée automatiquement, à partir de documents PDF, grâce à l’intelligence artificielle.
            </p>
            <p></p>
            <p>
                Les administrateurs peuvent enrichir, corriger ou ajouter des questions/réponses manuellement via une interface dédiée, tout en suivant les statistiques de fréquentation du site.
            </p>
        </section>

        {% endblock %}
    </main>

    <footer>
        <p>&copy; {{ year }} Metz Numeric School - Tous droits réservés.</p>
    </footer>
</body>
</html>

